{% extends 'base.html.twig' %}

{% block body %}

    <h3>Code</h3>
    <div class="input-group mb-3" id="code-link">
        <input type="text" class="form-control" placeholder="Link" aria-label="Link" id="link-coder">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-success" id="link-coder-btn" onclick="convertLink()">Convert to shorter link</button>
        </div>
    </div>
    <div class="alert alert-success">
        <a id="encoded-link"></a>
    </div>

{% endblock %}