{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <hr>
        <a class="btn btn-info float-left" href={{ path('app_homepage') }}>&larr; Back</a>
        <h3 class="text-center">
            {{ lang|upper }}
        </h3>
        <hr>
        <div class="jumbotron">
            <p>
               {#{{ description }}#}
            </p>
        </div>
    </div>

{% endblock %}