{% extends 'base.html.twig' %}

{% block title %}Link{% endblock %}

{% block body %}


<table class="table table-dark">
    <thead>
        <tr>
            <td>ID</td>
            <td>Hashed</td>
            <td>Original</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>id</td>
            <td>hashed</td>
            <td>original</td>
        </tr>
        {#<tr>#}
            {#<td>{{ id }}</td>#}
            {#<td>{{ hashed }}</td>#}
            {#<td>{{ original }}</td>#}
        {#</tr>#}
    </tbody>
</table>

{% endblock %}